# Cabal ---------------------------------------------------------
cabal/dist
cabal/dist-*
cabal.cabal-dev
cabal/*.o
cabal/*.hi
cabal/*.hie
cabal/*.chi
cabal/*.chs.h
cabal/*.dyn_o
cabal/*.dyn_hi
cabal/.hpc
cabal/.hsenv
cabal/.cabal-sandbox/
cabal/cabal.sandbox.config
cabal/*.prof
cabal/*.aux
cabal/*.hp
cabal/*.eventlog
cabal/.stack-work/
cabal/cabal.project.local
cabal/cabal.project.local~
cabal/.HTF/
cabal/.ghc.environment.*
cabal/database/data/*

# React ---------------------------------------------------------
# dependencies
web-app/node_modules
web-app/.pnp
.pnp.js

# testing
web-app/coverage

# production
web-app/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
